{% extends 'base.html.twig' %}

{% block title %}Subscriptions list{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
    <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-center">
            <ul class="list-group">
                {% for message in messages %}
                    <li class="list-group-item list-group-item-success">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
{% if subscriptions %}
    <div class="card">
        <div class="card-header">
            Subscriptions list
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Started at</th>
                <th scope="col">Manage</th>
            </tr>
            </thead>
            <tbody>
            {% for subscription in subscriptions %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ subscription.status }}</td>
                    <td>{{ subscription.startedat|date("Y-m-d h:i:s") }}</td>
                    <td>
                        {% if subscription.status == 'new' %}
                            <a class="btn btn-info btn-sm" href="{{ path('subscription_pay', {'id': subscription.id}) }}"><i class="far fa-credit-card"></i> Pay</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    Nie posiadasz żadnych subskrypcji
{% endif %}
{% endblock %}
