{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
    {% if errors|length > 0 %}
        <div class="row justify-content-center">
            <div class="col-4 d-flex justify-content-center">
                <ul class="list-group">
                    {% for error in errors %}
                        <li class="list-group-item list-group-item-danger">
                            {{ error.message }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {{ form_start(form, {'attr' : {'class': 'form'}}) }}
    <input type="hidden" name="id" value="{{ id }}" />
    {{ form_label(form.CardNumber, 'CardNumber', {'label_attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.CardNumber, {'attr': {'class': 'form-control mb-2 mr-sm-2', 'placeholder': 'CardNumber'}}) }}
    {{ form_label(form.CvvNumber, 'CvvNumber', {'label_attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.CvvNumber, {'attr': {'class': 'form-control mb-2 mr-sm-2', 'placeholder': 'CvvNumber'}}) }}
    {{ form_label(form.CardType, 'Id', {'label_attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.CardType, {'attr': {'class': 'form-control mb-2 mr-sm-2'}}) }}
    {{ form_row(form.save, { 'label': 'Pay' , 'attr': {'class': 'btn btn-primary mb-2'}}) }}
    {{ form_end(form) }}
{% endblock %}